@{
    ViewData["Title"] = "Головна сторінка завдань";
}

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="card shadow-sm p-4" style="width: 500px;">
        <h3 class="card-title text-center mb-4">Виберіть завдання</h3>
        <p class="text-muted text-center">
            Будь ласка, оберіть одне із доступних завдань нижче.
        </p>

        <div class="list-group">
            <a href="/Tasks/Task1" class="list-group-item list-group-item-action text-center">
                Завдання 1
            </a>
            <a href="/Tasks/Task2" class="list-group-item list-group-item-action text-center">
                Завдання 2
            </a>
            <a href="/Tasks/Task3" class="list-group-item list-group-item-action text-center">
                Завдання 3
            </a>
        </div>
    </div>
</div>