@model Lab5.Models.TaskModel

@{
ViewData["Title"] = "Завдання 1";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="p-4 border rounded bg-light shadow">
                <h3 class="text-center mb-4">Завдання 1</h3>
                <p class="text-center">
                    У міському зоопарку містяться тварини різних видів. Для участі у міжнародній виставці «Три тварюки» зоопарк має представити трьох тварин різних видів.
                    Потрібно написати програму, яка обчислить кількість способів вибрати трьох тварин для участі у виставці.
                    Наприклад, якщо у зоопарку два ведмеді, тигр, лев та пінгвін, тобто сім способів обрати трьох тварин:
                    перший ведмідь, тигр та лев;
                    перший ведмідь, тигр та пінгвін;
                    перший ведмідь, лев та пінгвін;
                    другий ведмідь, тигр та лев;
                    другий ведмідь, тигр та пінгвін;
                    другий ведмідь, лев та пінгвін;
                    тигр, лев та пінгвін.
                    Вхідні дані
                    Вхідний текстовий файл INPUT.TXT містить у першому рядку натуральне число n – кількість видів тварин у міському зоопарку (1 ≤ n ≤ 1000). У другому рядку через пропуск записані n натуральних чисел – кількість тварин відповідного виду. Число тварин кожного виду не перевищує 1000.
                    Вихідні дані
                    Вихідний текстовий файл OUTPUT.TXT має містити одне число – кількість способів вибрати трьох тварин міжнародної виставки.
                </p>

                <form asp-action="Task1" method="post">
                    <div class="form-group">
                        <label for="InputData" class="form-label">Input Data</label>
                        <textarea id="InputData" name="InputData" class="form-control" rows="6" placeholder="Enter your data here">@Model.InputData</textarea>
                    </div>

                    <div class="form-group mt-4">
                        <label for="OutputData" class="form-label">Output Data</label>
                        <textarea id="OutputData" name="OutputData" class="form-control" rows="6" readonly>@Model.OutputData</textarea>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary w-100">Виконати</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
